*{  padding: 0;
    margin: 0; 
    box-sizing: border-box;
    list-style: none;  
     
} 
body{
    font-family: montserrat;
    background-color:white;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
}
.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    padding:0 100px;

}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0,5px;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;

}
a:hover{
    background-color: #1b9bff;
    transition: .5s;
    cursor: pointer;

   
}
.checkbtn{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none; 


}
#check{
    display: none;

}

.gst h2 {

    font-family:  sans-serif;
    margin:45px;
    font-weight: 2100;
    color:#0a69c8;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 50px;
    
    
    
}
.gst p{
     
    padding: 0px 20px;
    font-weight: 500;
    color:slategray;
    justify-content: space-between;
    margin: 10px 30px;
    font-family:  sans-serif;
}
.gst img { 
    display: flexbox;
    height:600px;
    float: right;
    margin-right:120px;
    padding: 0px 20px;
    margin-top: 40px;
    
}


 span .cal{ 
    background-color: #0a69c8;
    color: #1b9bff;
    text-align: center;
    
}
.radio{
    gap:5px;
    display:flex;
    margin: 0px 0px;
    color: #0a69c8;
    padding-left: 45px;
    font-family:  sans-serif;
    font-weight: 500;
}
.amount p{ 
    
    color: #0a69c8;
    
    margin-left: 35px;
    margin-bottom:15px ;
    text-transform: uppercase;
    

}
.amount {
    margin-left: 20px;
    padding-right: 25px;
    width: 100%;
    height: auto;
    font-family: sans-serif;
    border: none;
}
.input{width:30%;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #fff;
color: #333;
margin-left:30px;}
.aa {
    
    color: #0073e6;
    margin-top: 20px;
    display: block;
    margin-left: 50px;
}


.dd {
    width:30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-left: 50px;
}


.dd option {
    background-color: #fff;
    color: #333;
}


.dd:focus {
    outline: none;
    border: 2px solid #0073e6;
}

.input{
    outline: none;
    border: 2px solid #0073e6;
}

#calculateButton {
    background-color: #0056b3;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#calculateButton:hover {
    background-color: #0056b3;
}

.ss{
    margin: 10px 50px;
    background-color:  #0056b3;
    width: 49px;
    border-radius: 3px;
    width: 30%;
}
.ss button p {
    text-align: center;
    font-family: sans-serif;
    
    font-weight: 500;
    color: white;
    padding-left: 180px; 
    padding-right: 180px;  
    margin-left: 40px;
}
.flex{
    display: flex;
    color: #0073e6;

}
.total {
    margin-left:40px;
    color:#0a69c8;
    font-family: sans-serif;
}
.total p{
          margin-left:25px;
          margin-bottom: 10px;
          
}
.total2 p{
    margin-left:30px;
    margin-bottom: 10px;
}
.total2{
    padding-left:40px;
    color:#0a69c8;
    font-family:  sans-serif;
}

